[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/


/sysinfo.txt
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


# macOS
.DS_Store
# Windows
Thumbs.db
# Linux
*.swp
*.lock


# Keeps materials, shaders, assets, and packages intact
/[Aa]ssets/AssetStoreTools*
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds?/
/[Ll]ogs/
/UserSettings/
!/[Aa]ssets/**/*.mat
!/[Aa]ssets/**/*.shader


.vscode/
.idea/
*.csproj
*.unityproj
*.sln


/[Aa]ssets/AddressableAssetsData/*
/[Aa]ssets/StreamingAssets/*


!/[Aa]ssets/
!/[Pp]ackages/
!/[Pp]rojectSettings/
!/[Aa]ssets/**/*.mat
!/[Aa]ssets/**/*.prefab
!/[Aa]ssets/**/*.unity
!/[Aa]ssets/**/*.asset
CW1_UI_Design/.vs/CW1_UI_Design/FileContentIndex/f3104976-9360-4a8a-8426-af67fc6a6699.vsidx
CW1_UI_Design/.vs/CW1_UI_Design/FileContentIndex/5fa508b2-b7ea-4b92-954d-661a3d55724b.vsidx
CW1_UI_Design/.vs/CW1_UI_Design/FileContentIndex/f5692b86-8ca6-4475-84a5-d99301d932c9.vsidx
CW1_UI_Design/.vs/CW1_UI_Design/FileContentIndex/e80ad731-af10-4a1b-bde4-585a7e8f7307.vsidx
CW1_UI_Design/.vs/CW1_UI_Design/FileContentIndex/ddb7edfc-6e71-4208-b0c9-063b4f9762fa.vsidx
CW1_UI_Design/.vs/CW1_UI_Design/FileContentIndex/b99b5b1f-18b5-4253-bd11-93f89859dbaf.vsidx
CW1_UI_Design/.vs/CW1_UI_Design/FileContentIndex/4a8c1a5f-5e2b-4a05-8bbe-e6edacb33d62.vsidx
